* {
  margin: 0;
  padding: 0;
}
body {
  --navBarHeight: 2.5rem;
  --footer_dimension: 10rem;  
  --purple-Color: hsl(273, 98%, 49%);
  --boxShadow_Style1: -5px -5px 20px rgba(155, 155, 155, 0.2),
  5px 5px 20px rgba(155, 155, 155, 0.2);
  --fontColor: floralWhite;
  --timelineLineColor: rgb(99, 97, 97);

  font-family:'Poppins', sans-serif;
  overflow: hidden;
  height: 100vh;
  background-color:black;
  color: var(--fontColor);
}
.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;  
  scroll-padding-top: var(--navBarHeight);  
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none; /*for chrome*/
}


.navbar {
  position: fixed;
  background: rgba(0, 0, 0, 1);
  color: var(--fontColor);
  width: 100%;
  height: var(--navBarHeight);  
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;

  transition: height 0.5s;
}
.navbar .hiddenStickyNameOnHover{
  display: none;
  
  cursor: pointer;
}
nav {
  width: 50%;
  height: 100%; 
}
.navbar ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;  
  justify-content: space-evenly;
  text-align: center;
}
.navbar nav ul a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--fontColor);
  height: 100%;
  width: 7rem;  
}
.navbar nav a::before {
  display: block;
  position: absolute;
  content: "";
  width: 0%;
  height: 0.5rem;
  background-color: var(--purple-Color);
  top:0;

  transition: width 0.2s ease-in-out;
}
.navbar nav li {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);  
}


.navbar nav ul a:hover {
  color: var(--purple-Color);
  font-weight: bolder;
}
.navbar nav ul a:hover::before {
  width: 100%;
}

.hamburgerIconBox{  
  width: 2.5rem;
  height: var(--navBarHeight);
  display: flex;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;  
}
.hamburgerIconBox label{
  display: block;
  height: var(--navBarHeight);
  width: 100%;
  cursor: pointer;
  position: absolute;
  z-index: 2;  
}
.hamburgerIcon{  
  width: 2.5rem;
  height: 0.5rem;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s;
}
.hamburgerIcon::before, .hamburgerIcon::after{  
  content: "";
  display: block;
  width: 2.5rem;
  height: 0.5rem;
  background-color: var(--purple-Color);
  position: relative;

  transition: transform 0.5s ease-in-out;
}
.hamburgerIcon::before{
  bottom: 0.8rem;
}
.hamburgerIcon::after{
  top: 0.3rem;  
}
#hamburgerIconVisibility{
  position: absolute;
  visibility: hidden;
}
#hamburgerIconVisibility:checked+.container .navbar{
  height: 75%;
  background: rgb(36, 35, 33);
  display: block;
  z-index: 999;  
  transition: height 0.5s;
  display: flex;
  justify-content: space-evenly;
}
#hamburgerIconVisibility:checked+.container .hiddenStickyNameOnHover{
  display: block;
  /* font-size: 5rem; */
}
#hamburgerIconVisibility:checked+.container .hiddenStickyName, #hamburgerIconVisibility:checked+.container .topCard{
  display: none;
}
#hamburgerIconVisibility:checked+.container .hamburgerIconBox{
  display: block;
  position: absolute;
  top: 1rem;
  left: 100vw;
  transform: translateX(-100%);  
}
#hamburgerIconVisibility:checked+.container .hamburgerIcon{
  /* visibility: hidden; */
  background-color: rgba(255, 255, 255,0);
}
#hamburgerIconVisibility:checked+.container .hamburgerIcon::before, #hamburgerIconVisibility:checked+.container .hamburgerIcon::after{
  visibility: visible;  
  bottom: 0;
  top:0;
}
#hamburgerIconVisibility:checked+.container .hamburgerIcon::before{
  transform: rotate(45deg);
  top: 0.5rem;
}
#hamburgerIconVisibility:checked+.container .hamburgerIcon::after{    
  transform: rotate(-45deg);
}
#hamburgerIconVisibility:checked+.container .navbar nav{
  height: fit-content;
}
#hamburgerIconVisibility:checked+.container .navbar nav ul{
  flex-direction: column;  
}

.section {
  height: calc(100vh - var(--navBarHeight));
  /* border: 2px solid red; */
  scroll-snap-align: start;
  box-sizing: border-box;
  /* background-image: url("./pics/bckgrnd.png"); */
  
}

.top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  height: 100vh;
  
  /* background-image: url("./pics/AvinashPetla4.jpg");
  background-size: 50vw;
  background-position: right;  
  background-repeat: no-repeat;
  padding-left: 2rem; */
}
#home{
  position: relative;
}
.topCard {
  height: max-content;
  width: 45rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  padding-left: 5rem;
}
.top h1 {  
  font-size: 4rem;   
}

.topImage {
  width: 40rem;
  height: 100vh;
  background-image: url("./pics/AvinashPetla6.png");
  background-position: center;
  background-size: cover;  
}

.hiddenStickyName {
  color: var(--fontColor);
  position: sticky;
  top: 0;
  z-index: 3;  
  margin-left: 1.5rem;
  padding-left: 2rem;
  font-size: 2rem;
  max-width: max-content;
}

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;  
}
.summary .summary-text {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.summary hr {
  width: 100%;
  margin: 2rem 0;
}
.summary .summary-text p {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: justify;
  line-height: 2.25rem;
  font-size: 1.5rem;
}
hr{
  background-color:var(--purple-Color);
  height: .05rem;
}
.yrsOfExp {
  font-style: italic;  
  color: var(--purple-Color);
  font-size: 5rem;
  align-self: flex-start;
  margin: 0;
  padding: 0 1rem;
}

.journey {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.years {
  display: flex;
  box-sizing: border-box;
  flex-direction: row-reverse;  
  height: 80%;
  width: 100%;
  justify-content: space-evenly;  
  position: relative;  
}
.yearsDetails {
  /* position: relative; */
  width: 100%;
  height: max-content;
}
.years--year{
  position: relative;
  background: transparent;
  font-size: 2rem;
  border: 0;  
  width: 100%;
  cursor: pointer;
  color: var(--timelineLineColor) 
}
.years--year::after, .years--year::before{
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;  
}
.years--year::after {
  background-color: var(--timelineLineColor);
  border-radius: 100%;  
  width: 20px;
  height: 20px;
  left: calc(50% - 10px);
}
.years--year::before {
  background-color: var(--timelineLineColor);
  width: 100%;
  height: 3px;
  top: 120%;
}

.clientDetails {
  margin: 2rem 0;
  width: 100%;
  text-align: center;
  position: relative;
  left: calc(-1 * 50%);
}
div.yearsDetails:last-of-type .clientDetails{
  /* border: 2px solid red; */
  left: calc(-1 * 30%);
}

.rolesAndResp {
  opacity: 0;
  position: absolute;  
  background-color: black;  
  font-weight: bold;  
  width: 70vw;
  height: max-content;
  left: 50vw;  
  transform: translate(-50%,-50%);
  padding: 3.3rem;
  font-size: 1.2rem;
  z-index: 10;
  box-shadow: 0 5px 8px rgba(73, 70, 70, 0.8) ;  
  pointer-events: none;  
  outline: 10px solid var(--fontColor);
  outline-offset: -1.5rem;
  border-radius: 30px;
}

.yearsDetails.active .years--year ~ .rolesAndResp {
  opacity: 1;  
  transform: translate(-50%,0);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  pointer-events: auto;
}
.yearsDetails.active .years--year {
  /* border: 3px solid black; */
  border-bottom: none;
  border-radius: 10px;
  color: var(--fontColor);
  /* box-shadow: var(--boxShadow_Style1); */
}
.yearsDetails.active .years--year::after {
  background-color: var(--purple-Color);  
}
.yearsDetails.active .years--year::before {
  background-color: var(--fontColor);  
}

section.skills {
  position: relative;  
}
.skill-list{
  width: 100%;
  height: 100%;  
  display: grid;
  grid-template-columns: repeat(4,20%);
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.skill{
  width: 10rem;
  height: 10rem;
  z-index: 10;
}
figcaption {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
.skill img{
  display: block;
  height:10rem;  
  width: 10rem;
  object-fit: cover;  
  z-index: 10;
}

#certificates {
  display: flex;
  justify-content: center;
  align-items: center;
}
.certifications {
  width: 80%;
  height: 80%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4,10%);
  /* margin: 40rem 0; */
}

footer {
  height: 0;
}
footer div {
  position: fixed;
  width: var(--footer_dimension);
  height: var(--footer_dimension);
  background: rgba(50, 0, 0, 0.7);
  border-radius: 50%;
  top: calc(102vh - var(--footer_dimension) / 2);
  /* top: calc(var(--footer_dimension) / 2); */
  left: calc(50vw - var(--footer_dimension) / 2);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
}
footer div > * {
  visibility: hidden;
}
footer h4 {
  width: 75%;
  align-self: center;
  visibility: visible;
  color: var(--fontColor);
  text-transform: uppercase;
  font-size: 1.4rem;
}

@media only screen and (max-width: 1050px) {
  html {
    font-size: 13px;
  }
  footer h4 {
    line-height: 1.2rem;
  }
}

@media only screen and (max-width: 550px) {
  html {
    font-size: 10px;
  }

  footer h4 {
    line-height: 1.2rem;
  }
}

@media only screen and (min-width: 2000px) and (min-height: 1000px) {
  html {
    font-size: 20px;
  }
}
